/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling header */
header {
    background-color: #91e2e9;
    color: #fff;
    padding: 40px;
    /* Adjust the padding as needed */
    text-align: center;
}


nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Styling sections */
section {
    padding: 20px;
}

section h2 {
    margin-bottom: 10px;
}

section p {
    margin-bottom: 20px;
}

section ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section ul img {
    width: 400px;
    height: 400px;
    margin-bottom: 40px;
}

/* Styling footer */
footer {
    background-color: #91e2e9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 0;
}